html { height: 100%; margin: 0px; }
body { font-family: 'Lato', sans-serif !important; font-size: 16px !important; height: 100%; margin: 0px; color: #000000 !important; }


.margin-bottom-lg { margin-bottom: 40px; }
.margin-bottom-md { margin-bottom: 20px; }
.margin-bottom-sm { margin-bottom: 10px; }
.margin-bottom-xs { margin-bottom: 5px; }
.margin-bottom-none { margin-bottom: 0px; }


.simple-cms-admin-results-list {}
.simple-cms-admin-results-list ul li { line-height: 18px; }
.simple-cms-admin-results-list ul li a { font-size: 18px; font-weight: bold; }


/*
    Bootstrap overrides
*/

.badge,
.btn,
.form-control,
.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child,
.navbar-default,
ul.pager li a { border-radius: 0px; }

.navbar.navbar-default { border: 0px; }

@media (min-width: 992px) {
    .container { width: 900px; }
}
